.env
*.venv
venv
app/Datasets
*.csv
*.png
*.ipynb_checkpoints
main.ipynb
CrossMapping-backup.ipynb
validation_of_token.ipynb
*.xml
*.iml
*.ipynb_checkpoints
ExperimentalFiles
*.idea
.ipynb_checkpoints
**/.ipynb_checkpoints/
